{% extends "home/index.html" %}

{% block header %}
    {% include "home/hd.html" %}
{% endblock %}


{% block content %}
<div class="avoid_pagebreak">
    <h4>
        EDUCATION
    </h4>
    <div class="edu_surround">
        <div class="edu animated">
            <div class="edu_item">
                <div class="date">
                    From September 2010 to September 2013.
                </div>
                <div class="topic">
                    Industrial Design.
                </div>
                <div class="school">
                    Universidad Antonio de Nebrija. Madrid.
                </div>
            </div>
            <div class="edu_item">
                <div class="date">
                    From April 2010 to July 2010
                </div>
                <div class="topic">
                    Advanced Graphic Design.
                </div>
                <div class="school">
                    Aula Creativa, Design School. Madrid.
                </div>
            </div>
            <div class="edu_item">
                <div class="date">
                    From April 2010 to July 2010
                </div>
                <div class="topic">
                    Advanced Web Design.
                </div>
                <div class="school">
                    Aula Creativa, Design School. Madrid.
                </div>
            </div>
            <div class="edu_item">
                <div class="date">
                    From 2006 to 2010
                </div>
                <div class="topic">
                    4 years of computer programming.
                </div>
                <div class="school">
                    Universidad Antonio de Nebrija. Madrid.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

            <script type='text/javascript' src='{{ url_for('static', filename="js/jsPdf.debug.js") }}'>
            </script>
            <script type='text/javascript' src='{{ url_for('static', filename="js/html2canvas.js") }}'>
            </script>
            <script type="text/javascript">
                var downPdf = document.getElementById("renderPdf");

                downPdf.onclick = function() {
                    html2canvas(document.body, {
                        onrendered: function(canvas) {

                            var contentWidth = canvas.width;
                            var contentHeight = canvas.height;

                            //一页pdf显示html页面生成的canvas高度;
                            var pageHeight = contentWidth / 592.28 * 841.89;
                            //未生成pdf的html页面高度
                            var leftHeight = contentHeight;
                            //pdf页面偏移
                            var position = 0;
                            //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
                            var imgWidth = 595.28;
                            var imgHeight = 592.28 / contentWidth * contentHeight;

                            var pageData = canvas.toDataURL('image/jpeg', 1.0);

                            var pdf = new jsPDF('', 'pt', 'a4');

                            //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                            //当内容未超过pdf一页显示的范围，无需分页
                            if(leftHeight < pageHeight) {
                                pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
                            } else {
                                while(leftHeight > 0) {
                                    pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                                    leftHeight -= pageHeight;
                                    position -= 841.89;
                                    //避免添加空白页
                                    if(leftHeight > 0) {
                                        pdf.addPage();
                                    }
                                }
                            }

                            pdf.save('content.pdf');
                        }
                    })
                }
            </script>
{% endblock %}