{% extends "home/index.html" %}

{% block header %}
    {% include "home/hd.html" %}
{% endblock %}

{% block content %}
<div class="avoid_pagebreak">
    <h4>
        EXPERIENCE
    </h4>
    <div class="row experience">
        <div class="large-6 medium-6 small-12 columns  animated fadeIn">
            <div class="year">
                2
            </div>
            <div class="exp_data">
                <div class="date">
                    From 2013 to 2014
                </div>
                <div class="role">
                    Art Director.
                </div>
                <div class="company">
                    Distrito 01 (d01 .es)
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns end animated fadeIn">
            <div class="year">
                6
            </div>
            <div class="exp_data">
                <div class="date">
                    From 2009 to July 2014
                </div>
                <div class="role">
                    Graphics & Web.
                </div>
                <div class="company">
                    Freelance.
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}