<div id="header">
    <div class="row animated fadeInDown">
        <div class="large-2 columns" id="renderPdf">
            <h2>
                木森林
            </h2>
            <h6 class="light">
                吹牛 & 装比
            </h6>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">
                    基本信息
                </div>
                <div class="small-8 columns border-left light2 ">
                    <ul class="no-bullet">
                        <li>
                            出生于1992年2月
                        </li>
                        <li>
                            性别：男
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2 italic">
                    联系方式:
                </div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        <li>
                            273427164@qq.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">
                    社交信息
                </div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        <li>
                            微信：Ai273427164
                        </li>
                        <li>
                            QQ：273427164
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>