{% extends "home/index.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/app.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block header %}
<div id="header">
    <div class="row animated fadeInDown">
        <div class="large-2 columns">
            <h2>
                黄靖钧
            </h2>
            <h6 class="light">
                DevOps & 容器云
            </h6>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">
                    基本信息
                </div>
                <div class="small-8 columns border-left light2 ">
                    <ul class="no-bullet">
                        <li>
                            出生于1995年2月
                        </li>
                        <li>
                            性别：男
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">
                    联系方式
                </div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        <li>
                            邮箱：i@zuolan.me
                        </li>
                        <li>
                            手机：18814129725
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">
                    社交信息
                </div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        <li>
                            微信：@zuo-lan
                        </li>
                        <li>
                            QQ：792236072
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-1 columns text-right website">
            <a href="https://cdn.zuolan.me/resume.docx">
                <i class="fi-arrow-down">
                </i>
                下载
            </a>
        </div>
    </div>
</div>
{% endblock %}

<div class="row main">
    {% block content %}
    {% endblock %}
</div>>