{% extends "home/index.html" %}

{% block header %}
    {% include "home/hd.html" %}
{% endblock %}
{% block content %}
    <div class="avoid_pagebreak">
        <h4>
            PERSONAL STATEMENT
        </h4>b
        <p>
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia
            bibendum nulla sed consectetur.Donec id elit non mi porta gravida at eget
            metus..
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean
            eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            Cras mattis consectetur purus sit amet fermentum.
        </p>
        <p>
            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
            lacinia odio sem nec elit.
        </p>
    </div>
{% endblock %}