<div class="avoid_pagebreak animated fadeInUp">
    <h4 class="title">
        <i class="fi-like">
        </i>
        技能专长
    </h4>
    <div class="row specialities">
        <div class="large-4 medium-4 small-6 columns">
            <ul data-pie-id="1" class="pie_desc">
                <li data-value="95">
                    <div class="skill_info">
                        <span class="skill_name">
                            Linux
                        </span>
                        <span class="skill_level">
                            95
                        </span>
                    </div>
                </li>
                <li data-value="5">
                </li>
            </ul>
            <div id="1" class="pie  animated bounceIn">
            </div>
        </div>
        <div class="large-4 medium-4 small-6 columns">
            <ul data-pie-id="2" class="pie_desc">
                <li data-value="90">
                    <div class="skill_info">
                        <span class="skill_name">
                            容器云
                        </span>
                        <span class="skill_level">
                            90
                        </span>
                    </div>
                </li>
                <li data-value="10">
                </li>
            </ul>
            <div id="2" class="pie  animated bounceIn">
            </div>
        </div>
        <div class="large-4 medium-4 small-6 columns">
            <ul data-pie-id="3" class="pie_desc">
                <li data-value="70">
                    <div class="skill_info">
                        <span class="skill_name">
                            Go语言
                        </span>
                        <span class="skill_level">
                            70
                        </span>
                    </div>
                </li>
                <li data-value="30">
                </li>
            </ul>
            <div id="3" class="pie  animated bounceIn">
            </div>
        </div>
    </div>
</div>