{% extends "sidebar.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='css/foundation.css') }}" type="text/css"
    rel="stylesheet" />
{% endblock %}

{% block content %}

        <table class="table table-hover">
            <tbody>
            <tr>
                <th>编号</th>
                <th>模板名字</th>
                <th>所属类别</th>
                <th>是否显现</th>
                <th>类别下排序</th>
            </tr>
            {% for v in page_data.items %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.name }}</td>
                <td>{{ v.category }}</td>
                <td>{{ v.isValid }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}